<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>995265618897-o6vod3p8phjrn3g0dch9mu6fj1t0sc58.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995265618897-o6vod3p8phjrn3g0dch9mu6fj1t0sc58</string>
	<key>API_KEY</key>
	<string>AIzaSyBedWH-HiVErKJZRVUIne6ceQn2pdQgiOA</string>
	<key>GCM_SENDER_ID</key>
	<string>995265618897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.lit.AppOftamologia</string>
	<key>PROJECT_ID</key>
	<string>appoftamologia</string>
	<key>STORAGE_BUCKET</key>
	<string>appoftamologia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995265618897:ios:f7eb33ff07c40386</string>
	<key>DATABASE_URL</key>
	<string>https://appoftamologia.firebaseio.com</string>
</dict>
</plist>