<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppOftamologia.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A2D811561FC45FCC0022A98F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2D8116A1FC45FCC0022A98F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2D811751FC45FCC0022A98F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
